body {
  background: none no-repeat scroll 0 0 #FFFFFF;
  color: #222222;
  margin: 0 auto;
}
ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
a {
  -moz-transition: all 0.11s linear 0s;
  border-bottom: 1px dotted #5AA6FF;
  color: #283E72;
  text-decoration: none;
}

#container {
  width: 960px;
  position: absolute;
  top: 0px;
  bottom: 0px;
}

nav li {
  display: block;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  float: left;
  padding-left: 30px;
  padding-right: 30px;
}

nav a {
  border: medium none;
  display: table;
  font-size: 16px;
  outline: medium none;
  text-transform: uppercase;
}

nav a:hover {
  color: rgba(150, 150, 150, 0.9);
}

.blog {
  border-right: 2px solid #000000;
}
.tutorials {
  border-right: 2px solid #000000;
}
.labs {
  border-right: 2px solid #000000;
}
.projects {
}

.title {
  font-family: 'Merriweather', serif;
  font-size:30px;
  font-style: normal;
  letter-spacing: 0.456em;
  word-spacing: 0.346em;
  line-height: 1.0;
  text-align: center;
  position: absolute;
  bottom: 200px;
  left: 150px;
}

#menu {
  position: absolute;
  bottom: 150px;
  left: 130px;
}

.fat {
  font-weight:bold;
  text-transform: uppercase;
}

.skinny {
  font-weight:lighter;
}
