body {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #222222;
    margin: 0 auto;
}
ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
a {
    -moz-transition: all 0.11s linear 0s;
    border-bottom: 1px dotted #5AA6FF;
    color: #283E72;
    text-decoration: none;
}

#header {
    height: 30px;
    left: 0;
    top: 10px;
    position: relative;
    border-bottom: 1px solid #222244;
}

header nav {
  float: right;
}
header nav li {
  border-left: 2px solid #000000;
  display: block;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  float: left;
  width: 100px;
  padding-left: 10px;
}
header nav a {
  border: medium none;
  display: table;
  font-size: 16px;
  outline: medium none;
  text-transform: uppercase;
}
header nav a:hover {
  color: rgba(150, 150, 150, 0.9);
}

.title {
  font: 20px Arial,Verdana,serif;
  float: left;
}

.fat {
  font-weight:bold;
}

.skinny {
  font-weight:lighter;
}

