body {
    background: none no-repeat scroll 0 0 #FFFFFF;
   /* background-image:url('./../media/background.png');
    background-size: 100% 100%;*/
    color: #222222;
    margin: 0 auto;
}
ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
a {
    -moz-transition: all 0.11s linear 0s;
    border-bottom: 1px dotted #5AA6FF;
    color: #283E72;
    text-decoration: none;
}

#header {
    height: 30px;
    left: 0;
    padding-top: 10px;
    position: relative;
    border-bottom: 1px solid #222244;
   /* background: none repeat scroll 0 0 #FFFFFF;*/
}

header nav {
  float: right;
}
header nav li {
  border-left: 2px solid #000000; 
  /*
 -moz-border-image:url(http://jasonmanners.info/media/zelda_sword.png) 0 0 0 10 stretch;
  -webkit-border-image:url(http://jasonmanners.info/media/zelda_sword.png) 0 0 0 10 stretch;
  border-image:  url(http://jasonmanners.info/media/zelda_sword.png) 0 0 0 10 stretch;
  */
  display: block;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  float: left;
  width: 100px;
  padding-left: 10px;
}
header nav a {
  border: medium none;
  display: table;
  font-size: 16px;
  outline: medium none;
  text-transform: uppercase;
}
header nav a:hover {
  color: rgba(150, 150, 150, 0.9);
}

.title {
  font-family: 'Merriweather', serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  text-shadow: none;
  text-decoration: none;
  letter-spacing: 0.456em;
  word-spacing: 0.346em;
  line-height: 0.82;
  float: left;
}

.fat {
  font-weight:bold;
  text-transform: uppercase;
}

.skinny {
  font-weight:lighter;
}

#container {
  width: 800px;
  height: 500px;
  margin: 0 auto;
  position: relative;
}

#content {
  top:0px;
  left:10px;
  right:10px;
  bottom: 50px;
  position: absolute;
  border-left: 1px solid #222244;
  border-right: 1px solid #222244;
 /* background: none repeat scroll 0 0 #FFFFFF;*/
}

