* {
  /*font-family: 'Didact Gothic', serif;*/
  font-family: 'IM Fell DW Pica SC', serif;
}


li, ul, span, h3 {
  margin: 0;
  padding: 0;
}

body {
  background: rgba(100,100,0,0.2);
}

ul {
  list-style: none;
}

header {
  margin-bottom:10px;
}

footer {
  margin-bottom:10px;
  position:relative;
}

p {
  overflow: hidden;
  text-align: center;
}

.world_section {
  border: 1px solid #112233;
  margin-bottom:10px;
  height: 460px;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 10px 10px 0;
  border-radius: 0 5px 5px 0;
  position: relative;
}

.title {
  margin-bottom:10px;
  font-size: 30px;
  text-align: center;
}

.title span {
  /*font-family: 'Permanent Marker', serif;*/
}

.footer_div {
  margin-bottom:10px;
}

.info_section {
  border: 1px solid #112233;
  margin-bottom:10px;
  height: 460px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 10px 0 0 10px;
  border-radius: 5px 0 0 5px;
  text-align: center;
}

.info_section article {
  margin-bottom:15px;
}

.tower_info {
  display: none;
}

.td_actions {
  float:left;
}

.td_info {
  float:left;
}

.td_actions article {
  height: 20px;
  min-width: 40px;
  border: 1px solid #112233;
  float: left;
  padding: 5px;
  margin: 0 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
}

.td_actions article:hover {
  color: #e0dfcb;
  background: rgba(0,0,0,0.4);
  -webkit-transition: background linear 0.35s, color linear 0.15s;
  -moz-transition: background linear 0.35s, color linear 0.15s;
  transition: background linear 0.35s, color linear 0.15s;
  cursor: pointer;
}


.world_actions {
  position: absolute;
  left: 125px;
  top: 125px;
}

.world_actions article {
  border: 3px solid rgba(40,75,10,0.9);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: rgba(50,100,25,0.9);
  padding: 10px;
  font-size: 35px;
  font-weight: bold;
  color:#DDDDDD;
}

.world_actions article:hover {
  background: rgba(50,100,25,0.6);
  cursor: pointer;
}

.tower_actions article {
  height: 25px;
  max-width: 105px;
  border: 1px solid #112233;
  padding: 5px;
  margin: 4px auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
}

.score {
  min-width: 100px;
}

.tower_actions article:hover {
  background: rgba(0,0,0,0.2);
  cursor: pointer;
}

.td_info article {
  height: 25px;
  border-right: 1px solid #112233;
  float: left;
  padding: 0 10px;
  margin-top: 5px;
  min-width: 75px;
  text-align:center;
}

.speed_menu span {
  float:left;
}

.speed_menu span ul {
  float:left;
}

.speed_menu span li {
  float:left;
  padding: 0 3px;
  border-right: 1px solid #112233;
}

.speed_menu span li:hover {
  background: rgba(0,0,0,0.2);
  cursor: pointer;
}

#waves {
  width: 100000px;
}

.wave_indicator {
  width: 75px;
  height: 25px;
  border: 2px solid #222222;
  margin: 0 10px 0 0;
  float:left;
  background: rgba(73,110,28,0.8);
  color:#EEEEEE;
  text-align: center;
  font-weight: bold;
 font-family: 'Architects Daughter', serif;
}

.wave_indicator:nth-child(3n) {
  background: rgba(73,110,28,0.6);
}

.wave_indicator:nth-child(3n+1) {
  background: rgba(73,110,28,0.4);
}

#wave_window {
  overflow: hidden;
  z-index: 10;
  border-left: 2px solid rgba(50,50,50,0.8);
  border-right: 2px solid rgba(50,50,50,0.8);
  padding:10px;
}

#current_wave {
  position:absolute;
  z-index: 11;
  border: 4px solid rgba(125,25,0,1.0);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width:79px;
  height:29px;
  left:0px;
  bottom: 7px;
}

#wave_rate {
  margin-top: 10px;
}

.wave_info {
  position:relative;
  height: 50px;
}

.lose {
  border: 2px solid rgba(50,50,50,0.8);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: rgba(200,50,50,0.9);
  position:absolute;
  left:400px;
  top:200px;
  padding: 8px;
  display: none;
  font-size: 45px;
  color:#DDDDDD;
}

.red {
  color:#000000;
  font-weight: 500;
  background: rgba(130,30,30,0.5);
  -webkit-transition: background linear 0.35s;
  -moz-transition: background linear 0.35s;
  transition: background linear 0.35s;
}
.green {
  color:#000000;
  font-weight: 500;
  background: rgba(30,130,30,0.5);
  -webkit-transition: background linear 0.35s;
  -moz-transition: background linear 0.35s;
  transition: background linear 0.35s;
}